<!DOCTYPE html>
<html>
	<head>
		<title>Hello world Example</title>
		<!--Bootsrap-->
		<link rel = "stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

		<!--ReactJS-->

	<script type="text/javascript" src="../libs/react.js"></script> 
	<script type="text/javascript" src="../libs/react-dom.js"></script> 
	<script type="text/javascript" src="../libs/browser.min.js"></script> 
	<script type="text/babel" src="/js/main.js"> </script>

		<link rel = "stylesheet" href = "/stylesheet/style.css" />
	</head>
	<body>
		<div class ="container">
			<div class="row">
				<div class="col-md-8 col-md-offset">
					<div id="todo">
						
					</div>
				</div>
			</div> 
		</div>

	</body>
</html>