<!DOCTYPE HTML>
<html>
<head>
	<title> React Example</title>
</head>
<body>
	<div id="container"></div>
	<div id="timer-container"></div>
	<div id="todo-container"></div>
</body>
	<script type="text/javascript" src="../libs/jquery-1.3.2.min.js"></script> 
	<script type="text/javascript" src="../libs/react.js"></script> 
	<script type="text/javascript" src="../libs/react-dom.js"></script> 
	<script type="text/javascript" src="../libs/browser.min.js"></script> 
	<script type="text/babel" src="/js/main.js"> </script>
</html>